<nav class="my-nav">
    <h1 class="nav-header">ITHS LIBRARY</h1>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/books">BOOKS</a></li>
            <li><a href="/books/borrow">BORROW</a></li>
        </ul>
    </nav>
