<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/hero.ejs') %>
    <h2 class="my-header">HOME</h2>
</body>
</html>
