<div id="footer-container">
    <div id="footer-contact">
        <h4>KONTAKT</h4>
        <p>Annan Annansson</p>
        <p>Annangatan 123</p>
        <p>123 45 Annanstan</p>
    </div>
    <div id="footer-contact">
        <h4>ITHS bibliotek</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias voluptatibus sunt minus possimus inventore, accusamus pariatur provident, vitae cumque cupiditate iure et! Ex consequatur exercitationem nam deleniti dignissimos cumque?</p>
    </div>
    <div id="footer-links">
        <p>LÄNKAR</p>
        <a href="/">Hem</a>
        <a href="/books">Böcker</a>
    </div>
</div>
