<nav class="my-nav">
    <h1 class="nav-header">ITHS BIBLIOTEK</h1>
        <ul class="nav-links">
            <li><a href="/">HEM</a></li>
            <li><a href="/books">BÖCKER</a></li>
            <li><a href="/books/create">LÄGG TILL</a></li>
            <li><a href="/books/change">REDIGERA/ÄNDRA</a></li>
            <li><a href="/books/chat">CHATTA</a></li>
        </ul>
    </nav>
