body {
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

/*Navbar*/

.my-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    border-bottom: solid black;
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.nav-header {
    margin: auto;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: rgb(10, 44, 41);
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: 1px underline;
}

/*Page header*/
.my-header {
}

/*Hero image*/
#hero-div {
    margin-top: 10vh;
    height: 90vh;
    position: relative;
    background-image: url(childedit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
}

#hero-header {
    padding-top: 20vh;
}

/*main header*/

.my-header {
    margin-top: 65px;
}

/*Book card*/

.book-div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 60vh;
    width: 45vh;
    border: solid black;
}
