body {
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    color: black;
    font-weight: 600;
    background-color: beige;
    border: solid black;
    border-radius: 8px;
    height: 25px;
    width: 100px;
    margin: 10px 0;
}

.btn:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

/*Navbar*/

.my-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.nav-header {
    margin: auto;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: rgb(10, 44, 41);
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: 1px underline;
}

/*Page header*/
.my-header {
}

/*Hero image*/
#hero-div {
    margin-top: 10vh;
    height: 90vh;
    position: relative;
    background-image: url(childedit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
}

#hero-header {
    padding-top: 20vh;
}

/*main header*/

.my-header {
    margin-top: 85px;
}

/*Book card*/

.books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.book-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.book-image {
    width: 100px;
    margin: 10px 20px 0 20px;
}

.single-book-link{
    text-decoration: none;
    color: black;
}

.book-title {
    margin-top: 2px;
    margin: 0 20px 0 20px;
    width: 100px;
}

.book-details {
    margin: 0 20px 0 20px;
    margin-top: 2px;
}

/*add book form*/

.form-div {
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.add-book-form label {
    margin-top: 10px;
}

.add-book-form input {
    width: 150px;
    border-radius: 8px;
    border: solid 2px black;
    padding: 2px;
    text-align: center;
}

.add-book-form textarea {
    width: 200px;
    border-radius: 8px;
    border: solid 2px black;
    padding: 2px 5px;
    text-align: center;
}

/*Book hero page*/

.single-book-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
    ". image title ."
    ". image details ."
    ". description description .";
}

#image-div{
    grid-area: image;
}

#title-div{
    grid-area: title;
}

#description-div{
    grid-area: description;
    margin-top: 10px;
}

#details-div{
    grid-area: details;
}

.single-book-image {
    width: 150px;
}


.single-book-details {
    margin: 0;
    margin-top: 2px;
}
